sudo: required
language: go
services:
- docker
go:
- master
- 1.10.x
- 1.9.x
- 1.8.x
install:
- go get -u github.com/golang/lint/golint
- go get -u github.com/golang/dep/cmd/dep
script:
- dirs=$(go list ./...)
- test -z "$(gofmt -s -l -w $(find ./* -type d -print) | tee /dev/stderr)"
- test -z "`for d in $dirs; do golint $d | tee /dev/stderr; done`"
- test -z "$(go vet ./... |  grep -v 'refers to unknown identifier' | tee /dev/stderr)"
- dep ensure
- bash tools/build.sh
- bash tools/build_on_travis.sh
env:
  global:
  - secure: dkNK8NZ42OIqwBoiCiZFECt6Rq/iVPWOzPlNDJPlfpEyiC5SSGockXCVHmmpQxsKmnk1t7FKg56rMEw5SCMB2GQZ2QSuoQHqPASals1oOQIXnmEpXzVKVSR1a6igGqXirV4Ofje4rLR4I9+QpJObJIeI82Rur3Rtq1uwTE7jxxfv7NnH760BXV1+OhA+BECozjTf+4bel1wW7INsVzOhJ5NK3j4CfdyetaigER/pwb2T/b1yWXEHEKExva9/+hUNh0MZl5Y2SE1II5ElKzXswQPPlLbwuG30L2x2IyxNrOoaYa5ZFgPXb/BY4nu+xFUXktbcP0E9Njb3a38jMCyqgq4LiOi8qV+zAreDpyWmJoL75ScEFqI578pYbWUVPfBrhJAbYkPF/wNEmUVuJaft9bz4UG70koOTimbUZdTGKXyxNHG5cWWAuVBoho2VtMYy72m3C/g6KcU2v/+PKBnCJY/QBSqoK/IHWEh2zt+hcCWT0byu8f3pNodkm/bMZ336yRMj+2O9cK5ao8rogOL6aof3XTuZWnp+zDAmFx94IAeaPW/tavIPjunyII4sQcAtI4zOljtPDgnNkpWnGrkdV5fFULJZvmw0EjWn5JnMCh6XYsi9+4iJ7XWJKXtS46c7ilGdy1U3N1kGta9iroZtHa+ZhJkFUx1EfAA/RXeTgW8=
  - secure: q92ZNT8eBxgOP03u8a9U7HXNJpWWpk1g//THQpuDGN+Fjzy0D++yawov6/6ekwIAHLZApIQ28ItsMn3HZREbzzSW9PrpgrjDPWjlYnYT8H8MbwJUBtMkdw29iNxsdwAt1k311GDCVb82FIj2HWPVaXbrVHNabBSDlf1OtifMf+4lQdi3lZHw1oGamGgNXlWtyxa19SLzrPKzDqtT2BabPk/2M/gSvVhuvqjMKKxIssQtP0uQybyi0cXBjCjJqND9zMeI2SCw+3YUHoQijSrJ1Xk/pug/OW2rlDasIN+7NiH3CvFLOzMAyDnLdYLgdCjpLbLaGeTKEP4oxkFXcfVMNOt2FiFmLKR775O+GU1IQNxU9glseB2Eez9SLCATnTACCDeAe7x0UCRv/byNXWz3BSOB1J8qZl0B15Ct8sNhAddUYon5pjKAhTI6nad9IAYhXW9bLRt2H1Dgu5ms/DeJtlKtXK6jVjxUW08XaspEmwpmpiCzmh1yCzukZeN59nldvjajr+AeQtx6yY2aE1aOan9Ydu8YRDE6qCNZpYrnDXOjRS+bBqNryMVt3LnQIb2k9RBOtYZ2JOaZ+aBAcg+zanWDUfhROLtdRn79S8o0bLSUWcoP65YCx0+cDeoPLuZJ0UOPlsF+sThDWXj5e9PcPRwa5mQPbZQ8JYm+mnlo1L8=
